* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #EC6EAD; */
    background: linear-gradient(#0f2027, #203a43, #2c5364);
}

.container {
    background-color: #fff;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
}

.topdiv {
    background-color: #3494E6;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30%;
    gap: 20px;

}

.topdiv .aaa {
    display: flex;
    gap: 5px;
    align-items: center;
}

h4 {
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
}

.box {
    background-color: #fff;
    height: 30px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.bottondiv {
    height: calc(100%-80px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

}

.bottondiv .circle {
    background-color: #2c5364;
    padding: 5px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.circle:hover {
    background-color: #3494E6;
}

@media screen and (max-width: 768px) {
    body {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 90%;
        height: 96%;
    }

    .topdiv {
        width: 100%;
        padding: 10px;
        height: 60px;
        font-size: 15px;
    }

    .bottondiv {
        width: 100%;
        padding: 7px;
    }

    .bottondiv .circle {
        width: 30px;
        height: 30px;
        
    }
}
